@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
*{
  box-sizing: border-box;
  font-family: "Newsreader", serif;
}
@keyframes changeBorderShadow {
  0% {
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7); /* Red */
  }
  33% {
    box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.7); /* Green */
  }
  66% {
    box-shadow: 0 0 15px 5px rgba(0, 0, 255, 0.7); /* Blue */
  }
  100% {
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7); /* Red */
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  body {
      background-color: #173B45; /* Example color: light blue */
      transition: background-color 0.3s ease; 
    }
    .app-container{
      display: inline-flex;
      gap: 50px;
      font-family: "Newsreader", serif;
    }
    .input-container input{
      padding-top: 10px;
      margin-top: 30px;
    }
    .Footer{
      display: inline-block;
    }
  }
@media screen and (min-width:360px) and (max-width:740px) {
    body {
        background-color: #173B45; /* Example: orange */
    }
    .usercard{
      background-color: #F8EDED;
    }
}
.usercard p{
  padding: 5px;
 
}
.usercard img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid transparent;
  animation: changeBorderShadow 5s infinite;
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  margin: 0%;  
}
a{
  text-decoration: none;
  color: #F8EDED;
  font-style: bold;
}
.usercard{
  background-color: #F8EDED;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -10px transparent;
  animation: changeBorderShadow 5s infinite;
  padding-top: 30px;
  max-width: 100%;
  width: 350px;
  text-align: center;
  color: #FF8225;
  font-family: "Newsreader", serif;
}

.input-container{
  padding-top: 30px;
  max-width: 100%;
  width: 350px;
  text-align: center;
 
  margin-top: 20px;
  gap: 10px;
}
.input-container input{
  padding: 10px;
  width: 100%;
  background-color: #F8EDED;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #be3737;
  font-size: medium;
  text-transform:uppercase;
  text-decoration: solid;
  color: #F8EDED;
}
.btn button{
  margin-right: 10px;
  margin-bottom: 10px;
}
input::placeholder{
 color: #B43F3F;
 align-items:center;
}
input::selection{
  border-color: #B43F3F;
}
input[file]{
  color: #B43F3F;
}
input[type="file"]::file-selector-button {
  padding: 10px;
  font-weight: 10px;
  border:2px soild #173B45;
  border-radius: 5px;
  background-color: #FF8225;
  color: #F8EDED;
}
input[type="file"]{
  cursor: pointer;
  font-size: 12px;
  color:#B43F3F;

}
.share{
  background-color: transparent;
  cursor: pointer;
  color: #be3737;

}

.Footer{
  color: #FF8225;
}
